/*.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: DodgerBlue;
    padding: 10px;
}*/
/*
CSS Grids
➞CSS Grid offers a grid-based layout system,
 with rows and columns, making it easier to design web pages without using floats and positioning
*/


.grid-item
{
    background-color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
}

/*.grid-container {
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    grid-gap: 10px;
    background-color: DodgerBlue;
    padding: 10px;
}*/
/*
Grid Container
➞To make an HTML element behave as a grid container,
    you have to set the display property to grid or inline-grid
➞Grid containers consist of grid items, placed inside the columns and rows
➞The grid-template-columns property defines the number of columns
    in your grid layout, and it can define the width of each column
→If you want your grid layout to contain 4 columns,
    specify the width of the 4 columns, or "auto" if all columns should have the same width*/

/*The grid-template-rows Property
➞The grid-template-rows property defines the height of each row:*/

/*.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 120px auto 200px;
    grid-gap: 10px;
    background-color: DodgerBlue;
    padding: 10px;
}*/
/*
The justify-content Property
➞The justify-content property is used to align the whole grid inside the container:*/

/*
.grid-container
{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px;
    !*Make the grid smaller than the container*!
    grid-gap: 10px;

    background-color: DodgerBlue;
    padding: 10px;
}*/

/*

The align-content Property
➞The align-content property is used to vertically align the whole grid inside the container*/

/*
.grid-container
{
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: DodgerBlue;
    padding: 10px;
}*/
/*
Grid Items
➞A grid container contains grid items
➞The grid-column property defines in which column(s) to place an item
➞You define where the item will start and end
➞For example, to make "item1" start in column 1 and end in column 5:*/


/*
.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;

}
.item1
{
    grid-column: 1 / 5;
}
*/

/*
Grid Items
➞To make "item2" start in column 2 and span 3 columns:*/

/*.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.item2
{
    grid-column: 2 / span 3;
}*/

/*

The grid-row Property
➞The grid-row property defines on which row to place an item
➞To place an item, you can refer to line numbers,
 or use the keyword "span" to define how many rows the item will span
➞For example, to make "item1" start on row 1 and span 2 rows:*/

/*.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.item1
{
    grid-row: 1 / span 2;
}*/

/*
The grid-area Property
➞The grid-area property can be used as a shorthand property for the grid-row-start,
 grid-column-start, grid-row-end and the grid-column-end properties
 ➞For example, to make "item8" start on row-line 1 and column-line 2,
  and end on row-line 5 and column-ine 6:
*/

/*
.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.item8
{
    grid-area: 1 / 2 / 5 / 6;
}*/
.wrapper {
    display: grid;
    grid-template-columns: 60px 60px 60px;
}
* {box-sizing: border-box;}

.wrapper {
    border: 2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;
}

.wrapper > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
    grid-column: 3/ span 2;
}
/*
.div1{
    grid-column: 3/ span 2;
}*/
