/*.container{
    background: red;
}
.container-fluid{
    background: blue;
}*/

/* отступы
.trow{
    display: flex;
    !*margin: 0-5px;*!
}

.tcol{
    flex-grow: 1;
    box-shadow: inset 0 0 0 1px;
    margin: 10px;
}*/
