html{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    font-family: Verdana-Bold, Arial, sans-serif;
    color: #ffffff;
    background-color:#000000;
    opacity:1;
}

body{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    font-family: Verdana-Bold, Arial, sans-serif;
    color: #ffffff;
    background-image: url("../img/background@1X(2).png");
    opacity:1;


}
header{
    padding-top: 40px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
a:hover{
    color: #f26522;
}
.container {
    height: 768px;
    margin: 0 auto;
    padding: 0 150px 0 157px;
    border: #3d4543 1px solid;
    background-color: rgba(0, 0, 0, 0.7);
}
.wrapper-top {
    box-sizing: border-box;
    display: inline-block;
    width: 150px;
    height: 46px;
    color: #f26522;
    cursor: pointer;
}
.wrapper-contacts{
    float: right;
}
footer{
    text-align: center;
}
.banner{
    cursor: pointer;
}

.banner-buy-1 {
    width: 312px;
    height: 63px;
    border: 1px black solid;
    background: #F26522;
    display: inline-block;
    position: absolute;
    top: 46%;
    left: 11.5%;
    opacity: 0;
    cursor: pointer;
}

.banner-buy-2 {
    width: 312px;
    height: 63px;
    border: 1px black solid;
    background: #F26522;
    display: inline-block;
    position: absolute;
    top: 46%;
    left: 39.5%;
    opacity: 0;
    cursor: pointer;
}
.banner-buy-3 {
    width: 312px;
    height: 63px;
    border: 1px black solid;
    background: #F26522;
    display: inline-block;
    position: absolute;
    top: 46%;
    left: 67.2%;
    opacity: 0;
    cursor: pointer;
}
.banner-buy-4 {
    width: 312px;
    height: 63px;
    border: 1px black solid;
    background: #F26522;
    display: inline-block;
    position: absolute;
    top: 99.5%;
    left: 11.5%;
    opacity: 0;
    cursor: pointer;
}
.banner-buy-5 {
    width: 312px;
    height: 63px;
    border: 1px black solid;
    background: #F26522;
    display: inline-block;
    position: absolute;
    top: 99.5%;
    left: 39.5%;
    opacity: 0;
    cursor: pointer;
}
.banner-buy-6 {
    width: 312px;
    height: 63px;
    border: 1px black solid;
    background: #F26522;
    display: inline-block;
    position: absolute;
    top: 99.5%;
    left: 67.2%;
    opacity: 0;
    cursor: pointer;
}


.link-buy{
    display:block;
    height: 100%;
}
.view{
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 14px;
}
.view::after{
    content: url("../img/Arrow@1X.png");
    padding-left: 15px;
}
.from{
    float: bottom;
    padding-top: 12px;
    padding-left: 15px;
    font-size: 10px;
}
.price{
    float: left;
    padding-left: 15px;
    font-size: 20px;
}
.link-buy{
    text-decoration:none;
    color: #FFFFFF;
}

.wrapper-milan{
    margin-left: 15px;
    width: 37px;
    height: 44px;
    float: left;
}
.milan{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}
.holidays{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.wrapper-logo {
    width: 46px;
    height: 44px;
    display: inline-block;
    background: url("../img/logo@1X.png");
    float: left;
}
.wrapper-logo:hover .wrapper-milan{
    background:url("../img/logo-hover@1X.png");
}
.wrapper-milan:hover .wrapper-logo{
    background:url("../img/logo-hover@1X.png");
}
.wrapper-top:hover .wrapper-milan a{
    color: #f26522;
    cursor: pointer;
}
.wrapper-top:hover .wrapper-logo {
    background: url("../img/logo-hover@1X.png");
}
.main{
    box-sizing: border-box;
}
.pic-1{
    clear: left;
    width: 307px;
    height: 222px;
    padding: 48px 69px 58px 0;
    text-align: center;
    float: left;
    text-decoration: none;
    position:relative;
    overflow:hidden;


}
.pic-2{
    width: 307px;
    height: 222px;
    padding:48px 67px 58px 0;
    text-align: center;
    float: left;
}
.pic-3{
    width: 307px;
    height: 222px;
    padding:48px 0 58px 0;
    text-align: center;
    float: left;
}
.pic-4{
    width: 307px;
    height: 222px;
    padding: 48px 69px 58px 0;
    text-align: center;
    float: left;
}
.pic-5{
    width: 307px;
    height: 222px;
    padding: 48px 67px 58px 0;
    text-align: center;
    float: left;
}
.pic-6{
    width: 307px;
    height: 222px;
    padding:48px 0 58px 0;
    text-align: center;
    float: left;
}

img{
    width: 307px;
    height: 200px;
    margin: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.9), 0 10px 10px rgba(0,0,0,0.9);
    border: 2px solid #f5f5f5;
    border-image: linear-gradient(to top, transparent 0%, #f5f5f5 100%);
    border-image-slice: 1%;

}

.banner-buy-1:hover{
    opacity: 1;
}
.banner-buy-2:hover{
    opacity: 1;
}
.banner-buy-3:hover{
    opacity: 1;
}
.banner-buy-4:hover{
    opacity: 1;
}
.banner-buy-5:hover{
    opacity: 1;
}
.banner-buy-6:hover{
      opacity: 1;
  }

.pic-1:hover .banner-buy-6{
    top:0;
    opacity: 1;
}
img:hover span{
    top:0;
    opacity: 1;
}


