.hamburger {
    --thickness: 3px;

    border: none;
    background: transparent;
    padding: 5px;
    line-height: 40px;
}

.hamburger span,
.hamburger span::after,
.hamburger span::before {
    display: inline-block;
    width: 30px;
    height: var(--thickness);
    background: black;
}
.hamburger span::after,
.hamburger span::before{
    content:'';
    position: absolute;
    left: 0;
}

.hamburger span{
    position: relative;
    vertical-align: middle;
}
.hamburger span::after{
    top: -10px;

}

.hamburger span::before{
    bottom: -10px;
}

.navigation{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: white;
    border-right: 1px solid rgba(0,0,0,0.3);
    box-shadow: 3px 0 5px rgba(0,0,0,0.3);
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 200ms;
}

.navigation:target{
    transform: translateX(0);
}

.data-table td:nth-child(2){
    display: none;

}

.img {
    width: 100%;
    /*max-width: 200px;*/
    object-fit: contain;
    max-height: 100%;
}

/*@media (min-width: 216px){
    .img{
        !*width: 100%;
        max-height: 100%;*!
        width: unset;
        height: 100%;
    }
}*/
.products {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    /*padding: 10px;*/

}
.products li {
    /*box-sizing: border-box;*/
    height: 40px;
    border: 1px solid gray;
    background: rgba(100,200,200,0.3);
    margin: 10px;
    padding: 10px;
    width: calc(100% / 3 - 20px - 2px);
}
.img-container{
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

@media (min-width: 700px){
    .hamburger{
        display: none;
    }
    .navigation{
        position: unset;
        transform: unset;
        box-shadow: unset;
        border: unset;
        background: red;
        width: 200px;
        height: unset;

    }

    main{
        background: blue;
        flex-grow:1;
    }
  /*  .navigation ul {
        display: flex;
        list-style: none;

    }*/
    .products li {
        width: calc(100% / 3 - 20px - 2px);
    }
}
.wrapper{
    display: flex;
}
.data-table td:nth-child(2){
    display: unset;
}

@media (min-width: 720px) {
    .products li {
        width: calc(100% / 3 - 20px - 2px);
    }
}