#wrapper header {
    background:#0003f9;
    border: 10px #000279 solid;
    padding: 10px;

}
#wrapper main {

    background: #fbfc00;
    border: 50px #7b7e00 solid;
    margin: 10px 50px 10px 10px ;
    padding: 10px;
}
#wrapper footer {
    background:#0003f9;
    border: 10px #000279 solid;
    padding: 10px;
}