body
{
    text-align: center;
    width: 1280px;
    margin: auto;
    font-family: Geneva, Arial, Helvetica, sans-serif;

}
nav
{

    margin: auto;
    text-transform: uppercase;
    font-size: 28px;



}
.image-wrap
{
    width: 1280px;
    height: 790px;

}
.image-center
{
    display: block;

}
.article
{

    padding-left: 110px;
    padding-right: 110px;


}
a
{
    color: #16a085;
    text-decoration: none;
    display:inline-block;
    padding:30px;

}
.main
{
    background-color: #f5f6f7;
    background-size: cover;
    margin: auto;
}
h1
{
    margin: auto;
}
.bottom
{
    margin: auto;
    text-align: right;
}
.button
{
    border: 0 #FFFFFF solid;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    background-color: #16a085;
    border-radius: 2px;
    font-size: 8pt;
    margin-top: 40px;
    margin-bottom: 90px;
    width: 192px;
    height: 51px;

}