.container{
    display: flex;
    border: 1px #4497DD solid;
    padding: 5px;
/*flex-wrap: wrap;*/
    justify-content: center;
   /* flex-direction: column;*/
    /* flex-direction: row-reverse;*/
}
.flex-item{
    border: 1px #FF9933 dashed;
}
.container2{
    display: inline-block;
    width: 100%;


}
.flex-item1,.flex-item2 /*.flex-item3,.flex-item4,.flex-item5,*/{

    float:right;
}
