html,body{
    width: 100%;
    background-color: black;
}
.main{
    margin: 50%;
    border: #ebaa16 1px solid;
    width: 30%;
    height: 300px;
    background-color: silver;
}
.aside{
    width: 33%;
    border: #ebaa16 1px solid;
    height: 300px;
    background-color: red;
}
.aside2{
    border: #ebaa16 1px solid;
    background-color: silver;
}
.aside2{
float:right;
    height:20px;
}

