
@keyframes example {
    from{
        background-color: #fbfc00;
    }
    to{
        background-color: #FF9933;
    }
}




.container{
    border: 1px solid #6d7982;
    width: 400px;
    height: 300px;
    background-color: #64b32e;
    animation-name: example;
    animation-duration: 5s;
    animation-play-state: paused;
}
.container:hover{
    animation-play-state: running;
    cursor: pointer;

}