html, body {
    width: 100%;
    margin: 0px;
}


html, body {
    width: 100%;
    margin: 0px;
}


body {

    /*background-color: #000;*/
    /*min-height: 720px;*/
}


.container {
    background-image: url('../img/rana-sawalha-364253-unsplash@1X.png');
    background-size: cover;
    height: 120vh;
    position: relative;
}

.container header {
    background-color: black;
    height: 56px;
    opacity: 0.41;

}

.container .login-wrapper {
    position: relative;
    margin: 0 30% 0 30%;
    width: 400vm;

}

.container .form-wrapper {
    margin: 3% 30%;
    background-color: #fff;
    position: absolute;


}
.form-wrapper{

    border-radius:2px ;
}
.header-logo{
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
    display: inline-block;
    float: left;
}
.header-nav{
    padding: 20px;
    color: #FFFFFF;
    float: right;
}