.container{
    border: 1px #FF9933 solid;
    margin: 0 auto;
    width: 900px;
}
header, main, aside, section{
    margin: 5px;
    padding: 5px;
    border: 1px #7b7e00;
}
section{
    background: #16a085;
}
