body{
    font-family: Arial;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;

}
h1{
    margin-bottom: 2px;
}
h2{
    margin-top: 1px;
    color: darkgray;
    font-style: italic;
}
h1 strong {
    font-weight: 700;
}