
body{
    background: #222222;
    margin: auto;
}
div{

}

.line1{
    margin: 20px 200px;
    background: #cccccc;


}
.line2{
    background: #4b88ad;
    margin: 20px 200px;

}
.line3{
    background: #64b32e;
    margin: 20px 200px;

}
.line4{
    background: #ebaa16;
    margin: 20px 200px;

}
.line5{
    background: #df5637;
    margin: 20px 200px;

}
.line1::before{
    content: "/img/one/png";
}