.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
}
img {
    position: absolute;
     width: 100%;
     background-color: rgba(255, 255, 255, 0.5);
    top: 82px;
    bottom: 0;
 }