html, body {
    width: 100%;
    margin: 0;
}

.container-wrapper {

    height: 100vh;
    background-image: url('../img/rana-sawalha-364253-unsplash@1X.png');
    background-size: cover;

    background-position-y: -110px;
}


.container header {
    background-color: black;
    height: 10vh;
    opacity: 0.41;
}

.container .form-wrapper {
    /* margin: 3% 33%;*/
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -13em;
    top: 50%;
    margin-top: 1em;
    width: 33%;
}