html, body {
    width: 100%;
    margin: 0px;
}


html, body {
    width: 100%;
    margin: 0px;
}


body {
    font-family: Verdana-Bold, Arial, sans-serif;

    /*background-color: #000;*/
    /*min-height: 720px;*/
}


.container {
    background-image: url('../img/rana-sawalha-364253-unsplash@1X.png');
    background-size: 104% auto;
    background-position-y: -110px;
    background-position-x: -30px;
    height: 120vh;
    position: relative;
    background-repeat: no-repeat;
}

.container header {
    background-color: black;
    height: 10vh;
    opacity: 0.41;

}

.container .login-wrapper {
    position: relative;
    margin: 0 15% 0 15%;
    width: 50vm;


}

.container .form-wrapper {
   /* margin: 3% 33%;*/
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -13em;
    top: 50%;
    margin-top: 1em;
    width: 39%;



}
.form-wrapper{
padding: 22px 45px 24px 45px;
    border-radius:10px ;

}
.header-logo{
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
.header-icon {
    float: right;

    padding: 20px;


}
.icon1, .icon2, .icon3, .fb, .goo{
    display: inline;
}


.header-nav{
    padding: 20px;
    color: #FFFFFF;
    float: right;

}
.signup{
    background-color:#FFFFFF;

}
.login{
float: right;
}
.signlogin-wrapper{
    background-color: #3CB878;
    margin-top: 1%;
    width:90%;

    padding-left: 14%;

   /* position: relative;
    left:138px; bottom:19px;*/

}
.signhead {
    background-color: #3CB878;
    margin-top: 1%;
    width: 80%;
    position: relative;
    right: 12%;
}

.signlogin-wrapper {
    background-color: #3CB872;
    margin-top: 1%;
    width: 132%;
    padding-left: 7%;
}

.signup-wrapper {
    background-color: #FFFFFF;
    margin-top: -2%;
    padding-left: 8%;
}
.firstname, .lastname, .email, .choosepassword, .confirmpassword, .agree, .createaccount, .fb-go-wrapper {
    width:100%;
    margin-top: 2%;
    padding-bottom: 2%;


}
#fname,#lname,#confirmpassword,#choosepassword,#email{
    width:97% ;
}
#createaccount {
    width: 100%;
}
.signhed{
    width: 100%;
}
a{
    color: #3CB878;
    text-decoration: none;
}

a.calendar, a.forum, a.map{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 28px;
    display: inline-block;
    margin-right: 10px;
}

.facebook-btn{
    background-color: #305DB8;
    color: #FFFFFF;
    height: 7vh;
    width: 45%;
    border-radius: 5px;
    border:none;
    margin-right: 8%;

}
.facebook-btn:hover{
    background-color: #264B96;
}
.google-btn{
    background-color: #DF4A32;
    color: #FFFFFF;
    height: 7vh;
    width: 45%;
    border-radius: 5px;
    border:none;
}
.google-btn:hover{
    background-color: #C3412C;
}
.header-icon {
    float: right;
}

a.google{
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        height: 17px;
        width: 28px;
        display: inline-block;
        /*margin-right: 10px;*/
    }
a.facebook{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    height: 17px;
    width: 28px;
    display: inline-block;
    /*margin-right: 10px;*/

}

a.facebook { background-position-y: -168px; }
a.google { background-position-y: -43px; }
a.calendar{background-position-y: -125px; }
a.forum{background-position-y: -22px;}
a.map{background-position-y:-83px;}

a.calendar:hover {
    background-position-y: -105px;
}
a.forum:hover{
    background-position-y: 0;
}
a.map:hover{
    background-position-y:-60px;
}
.header-logo:hover{
    color: #3CB878;
    cursor: pointer;
}
a:hover{
    color: #3CB878;
    text-decoration: underline;
}
/*.facebook-btn{
    height: 7vh;
    width: 158px;
}
.google-btn{
    height: 7vh;
    width: 158px;

}*/
span.cd:hover{
    cursor: pointer;

}
#createaccount{
    background: #3CB878;
    color: #FFFFFF;
    height: 7vh;
    border-radius: 5px;
    border:none;
}
#createaccount:hover{
    background: #329A65;
}
#fname, #lname, #email, #choosepassword, #confirmpassword{
    height: 7vh;
    border-radius: 5px;
}
.email:active {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
    box-shadow:
            inset rgba(0,0,0,.8) 0 1px 2px,
            inset rgba(0,0,0,.05) 0 -1px 0,
            #fff 0 1px 1px;
}

input[type="text"]:focus {
    color: #000000;
    border: 1px solid #000000;

}
input[type="button"]:hover{
    cursor: pointer;
}

#fb-btn{
    background-color: #264B96;
    color: #FFFFFF;
    height: 7vh;
    width: 158px;
    border-radius: 5px;
    border:none;

}
button:hover{
    cursor: pointer;
}
/*.or1{
    background-color: #FFFFFF;
    padding: 5px;
    position: absolute;
}
.or1
{
    top: 17%;
    left: 44%;
}*/
.or1
{
    padding: 0 5%;
    display: inline;
position:relative; left:43%; bottom:3vh;
    background-color: #FFFFFF;
}
.fbgo-wrapper{

    padding:2% 0 4% 0;
}
.signup1{
    font-size: 1.5em;
    font-weight: bold;
}



.fbgo-wrapper1{

    padding:2% 0 4% 0;
}

.facebook-btn1{
    background-color: #305DB8;
    color: #FFFFFF;
    height: 7vh;
    width: 158px;
    border-radius: 5px;
    border:none;

}
.facebook-btn1:hover{
    background-color: #264B96;
}
.google-btn1{
    background-color: #DF4A32;
    color: #FFFFFF;
    height: 7vh;
    width: 158px;
    border-radius: 5px;
    border:none;
    border-left: #6d7982;
}
.google-btn1:hover {
    background-color: #C3412C;
}

.g-wrapper {
    float: right;
    border-left: 1px solid #C8422D;
    position: relative;
    padding:0 25% 0 10%;
}
.f-wrapper{
    float: right;
    border-left: 1px solid #224387;
    position: relative;
    padding:0 20% 0 9%;
}
.btn-wrapper1{
    width: 100%;
    display: inline-block;
}
.f-wrapper1{
    float: right;
    width: 100%;
    border-left: 1px solid #224387;
    position: relative;
    padding:0 20% 0 9%;
}
.fb-logo1{
    width: 50%;
}