.container{
    height: 100px;
    font-size: 12px;
    padding-left: 30px;

    transition: all 2s;
    transition-property: height, font-size, background-color;
}
.container:hover{
    background-color: #4bcaff;
    color: #fbfc00;
    cursor: pointer;
    height: 300px;
    text-align: center;
    font-size: 200%;
}