.img
{
    width: 200px;
    height: 200px;

}

.float-left
 {
     float: left;
 }
.float-right
{
    float: right;
}
.img-wrapper
{
    border: 1px grey solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
h1 {
    clear: left;
}
.clearfix{
    clear: both;
}
footer{
    margin-top: 10px;
    background-color: #7b7e00;
    padding: 20px;
}