@font-face {
    src: url("../font/Arimo-Regular.ttf");
    font-family: 'Arimo', sans-serif;

}
@font-face {

    src: url("../font/Arimo-Bold.ttf");
    font-family: 'Arimo', sans-serif;
}
body{
    font-family: 'Arimo', sans-serif;
}
.container {
    margin: 0 auto;
    background-color: #3A4965;
    background-size: cover;
    height: 100%;
    position: relative;
    color: #848484;
    text-transform: uppercase;
    text-align: center;
}

.table-wrapper{
    border: 1px solid #DFDFDF;
    position: center;
   /* height: 90vh;*/
    padding: 3% 5% 6% 3%;

}

.text1{
    font-size: 18px;
    font-weight: bold;
    color:#484848;
}

.text2{
    font-size: 30px;
    font-weight: bold;
    color: #484848;
}
td {
    border: 1px solid #DFDFDF;
    width: 90vh;
    height: 13vh;
    font-size: 16px;
    vertical-align: middle;


}
span{
    margin-left: 10px;
}
/*tr{
    width: 20%;
    height: 20%;
}*/

tr:nth-child(2){background:#FAFAFA}
tr:nth-child(4){background:#E3E3E3}
tr:nth-child(6){background:#E3E3E3}
tr:nth-child(8){background:#E3E3E3}
tr:nth-child(3){background:#F2F2F2}
tr:nth-child(5){background:#F2F2F2}
tr:nth-child(7){background:#F2F2F2}

tr:nth-child(1) td:nth-child(3) {background: #F04A56}
tr:nth-child(1) td:nth-child(4) {background: #20807C}
tr:nth-child(1) td:nth-child(2) {background: #89C331}
tr:nth-child(9) td:nth-child(2) {background: #EEEEEE}
tr:nth-child(9) td:nth-child(3) {background: #F4F4F4}

tr:last-child td:first-child {background: #DDDDDD}
tr:last-child td:last-child {background: #EEEEEE}
tr:first-child td:first-child{background:#FAFAFA}


.price-wrapper{
    width: 99%;
    height: 99%;
    background-color: #FAFAFA;

}
.price , .cents , .text{

    display: inline-block;
}

.price{

    width: 39%;
    height: 99%;
    float: left;
    font-size: 60px;
    text-align: right;
    font-weight: bold;
    color: #484848;
margin: 10px 0 10px 0;
    /*padding: 10px 0 10px 25px;*/
}

.cents {

    width: 61%;
    height: 48%;
    float: right;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    color: #484848;
}

.text{

    width: 61%;
    height: 53%;
    text-align: left;
    font-size: 18px;
    color: #484848;





}
.offer1, .offer3{
font-size: 24px;
    color:#FFFFFF
}
.offer2{
font-size: 30px;
    color:#FFFFFF
}


.price-td{
    width: 90vh;
    height: 17vh;
}

.btn-td1{
    width: 193px;
    height: 50px;
    font-size: 16px;
    color: #FFFFFF;
}
.myButton1 {
    box-shadow: 0 2px 0 0 #404040;
    background-color:#484848;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#FFFFFF;

    font-size:16px;
    padding:12px 25px 6px;
    text-decoration:none;

}
.myButton1:hover {
    background-color:#404040;
}
.myButton1:active {
    position:relative;
    top:1px;
}
.myButton2 {
    box-shadow: 0 2px 0 0 #79B027;
    background-color:#89C331;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#FFFFFF;

    font-size:16px;
    padding:12px 35px 6px;
    text-decoration:none;

}
.myButton2:hover {
    background-color:#79B027;
    box-shadow: 0 2px 0 0 #89C331;
}
.myButton2:active {
    position:relative;
    top:1px;
}
.myButton3 {
    box-shadow: 0 2px 0 0 #DF3A46;
    background-color:#F04A56;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#FFFFFF;

    font-size:16px;
    padding:12px 35px 6px;
    text-decoration:none;

}
.myButton3:hover {
    background-color:#DF3A46;
}
.myButton3:active {
    position:relative;
    top:1px;
}
.myButton4 {
    box-shadow: 0 2px 0 0 #20807C;
    background-color:#16736F;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#FFFFFF;

    font-size:16px;
    padding:12px 35px 6px;
    text-decoration:none;

}
.myButton4:hover {
    background-color:#16736F;
}
.myButton4:active {
    position:relative;
    top:1px;
}

td:nth-child(2){
    box-shadow: -4px 0px 4px -4px #000000; rgba(0,0,0,0.5);
}