html{
    margin: 0 auto;
    width: 1366px;
    height: 768px;}



body{
    background-image: url("../img/background@1X(2).png");
    background-size: 1366px;
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    font-family: Verdana-Bold, Arial, sans-seri, serif;
    color: #ffffff;

    opacity:1;

}