html{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    font-family: Verdana-Bold, Arial, sans-seri, serif;
    color: #ffffff;
    background-color:#000000;
    opacity:1;


}

body{
    margin: 0 auto;
    width: 1366px;
    height: 768px;
    font-family: Verdana-Bold, Arial, sans-seri, serif;
    color: #ffffff;
    background-image: url("../02/img/background@1X(2).png");
    opacity:1;


}
a{
    text-decoration: none;
    color: #ffffff;
}
header{
    padding-top: 40px;
}

.container-wrapper{

    opacity:1;
}
.container{
    height: 768px;
    margin: 0 auto;
    padding: 0 150px 0 157px;
    border: #3d4543 1px solid;
    background-color: rgba(0, 0, 0, 0.4);



}
.wrapper-top{
    box-sizing: border-box;
    display: inline-block;
    width: 150px;
    height: 46px;
    color: #f26522;
    cursor: pointer;

}
.wrapper-logo{
    width: 46px;
    height: 44px;
    display: inline-block;
    background: url("../02/img/logo@1X.png");
    float: left;

}
.wrapper-milan{
    margin-left: 15px;
    width: 37px;
    height: 44px;

    float: left;

}
.milan{
    text-transform: uppercase;
    font-size: 25px;
}
.holidays{
    text-transform: uppercase;
    font-size: 16px;
}


.wrapper-contacts{
    width: 160px;
    height: 44px;

    float: right;
    text-decoration: none;
}
.main{
    box-sizing: border-box;
}

.pic-1{
    clear: left;
    width: 307px;
    height: 222px;
    padding: 48px 69px 58px 0;
    text-align: center;
    float: left;
    text-decoration: none;

}
.pic-2{
    width: 307px;
    height: 222px;
    padding:48px 67px 58px 0;
    text-align: center;
    float: left;
}
.pic-3{
    width: 307px;
    height: 222px;
    padding:48px 0 58px 0;
    text-align: center;
    float: left;
}
.pic-4{
    width: 307px;
    height: 222px;
    padding: 48px 69px 58px 0;
    text-align: center;
    float: left;
}
.pic-5{
    width: 307px;
    height: 222px;
    padding: 48px 67px 58px 0;
    text-align: center;
    float: left;
}
.pic-6{
    width: 307px;
    height: 222px;
    padding:48px 0 58px 0;
    text-align: center;
    float: left;
}


.logo{
    border: #3d4543 1px solid;
    background-color: #4bcaff;

}
.logo-milan {
    border: #ff0000 1px solid;
    background-color: #64b32e;
    width: auto;
}
.logo-holidays{
    margin-top: 10px;
    border: #ff0000 1px solid;
    background-color: #fbfc00;
}
.mail{
    float: right;
    clear: right;
}
.call{
    float: right;
}
.footer{
    text-align: center;
    color: #ffffff;
}

a:hover{
color: #f26522;
}
.wrapper-logo:hover .wrapper-milan{
    background:url("../02/img/logo-hover@1X.png") no-repeat 50% 50%;
}
.wrapper-milan:hover .wrapper-logo{
    background:url("../02/img/logo-hover@1X.png") no-repeat 50% 50%;
}
.wrapper-top:hover .wrapper-milan a{
    color: #f26522;
    cursor: pointer;
}
.wrapper-top:hover .wrapper-logo{
    background:url("../02/img/logo-hover@1X.png")
}


.banner {
    border: 1px #f26522 solid;
    width: 307px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 68px;
    line-height: 1px;
    cursor: pointer;
    opacity:1;
}
.small{
    padding-top: 8%;
    font-size: small;
    width: 70px;
    height: auto;
    text-align: center;
    float: left;
}
/*.price{
    padding-top: 6%;
    font-size: 20px;
    width: 70px;
    height: auto;
    clear: left;
    text-align: center;
    float: left;
}
.view{
    padding-right: 10px;
    padding-top: 6%;
    float: right;
}
.banner a{
    display: block;
    color: #ffffff;
}
.banner a:after{
    content: '\203A';
}*/


/*.banner:hover{
    cursor: pointer;
    opacity:1;
    color: #fff;
    transform: translate(0,-350px);
    -webkit-transform: translate(0,-350px);
    -o-transform: translate(0,-350px);
    -moz-transform: translate(0,-350px);
}*/
.object {
    position: absolute;
/** This css rule will make the object
move smoothly and animated **/
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
/* Currently IE doesn't support for transition property http://www.w3schools.com/cssref/css3_pr_transition.asp */
/**
    linear: The animation has the same speed from start to end.
    ease: Default. The animation has a slow start, then fast, before it ends slowly.
    ease-in: The animation has a slow start.
    ease-out: The animation has a slow end.
    ease-in-out: The animation has both a slow start and a slow end.
    Credit Source: http://www.w3schools.com/cssref/css3_pr_animation-timing-function.asp
**/
}
.banner{
    top: 99%;
    left: 44%;
}
.view-1 a:after{content: '\203A';}

.banner-buy{
    width: 312px;
    height: 63px;
    border: 1px black solid;
    background: #F26522;
    display: inline-block;


}
.link-buy{
    display:block;
    height: 100%;
}
.view{
    float: right;
    padding-top: 10px;
    padding-right: 15px;
    font-size: 14px;
}
.view::after{
    content: url("../02/img/Arrow@1X.png");
    padding-left: 15px;
}
.from{
    float: bottom;
    padding-top: 12px;
    padding-left: 15px;
    font-size: 10px;
}
.price{
    float: left;
    padding-left: 15px;
    font-size: 20px;
}
.link-buy{
    text-decoration:none;
    color: #FFFFFF;
}
.banner-wrapper-1, .banner-wrapper-2, .banner-wrapper-3, .banner-wrapper-4, .banner-wrapper-5, .banner-wrapper-6{
    box-sizing: content-box;
    width: 312px;
    height: 63px;
    opacity: 1;
    cursor: pointer;
    position: absolute;


}

