body{
    background-color: #3d4543;
    color:#fff;
    font-family: Verdana;
}
.test-mouse{
    border: 1px #ff4561 solid;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
}
.test-mouse:hover{
    color: #bccd95;
    background-color: #ff4561 ;
    cursor: pointer;
}
.some-list > li:nth-child(2n){
    color: #3d4543;
    background-color: #FF9933;
}
.test-mouse:first-letter{
    color: #ff0000;
}