

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.wrapper {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);

}
.wrapper a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
.wrapper a:hover {
    background-color: #ddd;
    color: black;
}
.column {

    float: left;
    width: 31%;
    padding: 15px;
    top: 82px;
    bottom: 0;
}
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    clear: both;
    /* clear the floats */
}
.column:hover {
    transform: scale(0.9);
}